<!DOCTYPE>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Home</title>
    </head>
    <body>
        <h1>{{welcome}}</h1>
        <p>{{screamIt "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quasi, nostrum distinctio ullam voluptatem a at, ab nulla qui blanditiis delectus autem, tempore rerum consequuntur corrupti animi eos voluptas corporis. lore"}}</p>
        {{> footer}}
    </body>
</html>