<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects</title>
    </head>
    <body>
        <h1>Projects Page</h1>
        {{> header}}
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sunt, laudantium dolores aliquam enim officiis impedit dignissimos repellendus! Laudantium harum nisi corporis modi architecto quidem maiores rem, consequuntur inventore iste.</p>
        {{> footer}}
    </body>
</html>